.post-container{
    display: grid;
    grid-template-columns: 100px auto;
    justify-items: center;
    position: relative;
}

.post-container .post-attributes{
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #57606f;
}

.post-container .profile-picture-container{
    height: 70px;
    margin-right: 1rem;
}

.profile-picture-container img{
    aspect-ratio: 1;
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
}

.post-container textarea{
    box-sizing: border-box;
    width: 100%;
    resize: none;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.post-actions{
    display: flex;
    flex-direction: row;
}

.post-types svg{
    height: 100%;
    width: 25px;
    color: #2e86de;
    cursor: pointer;
}

.post-types svg:not(:first-of-type){
    margin-left: 1rem;
}

.post-types svg path{
    height: 100%;
}

.post-actions .post-button{
    margin-left: auto;
}

.fileupload{
    display:none;
}

.image-container{
    width: 65%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.image-container img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.image-container .clear-container{
    position: absolute;
    top: 1%;
    left: 1%;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    color: #222f3e;
    content: "";
    cursor:pointer;
    transition: color 0.25s ease;
}

.image-container .clear-container:hover{
    color: #ee5253;
}

.image-container:not(.active){
    display:none;
}

.create-post-wrapper{
    position: relative;
}

.create-post-wrapper .uploading-container{
    background-color: rgb(100, 100, 100);
    opacity: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    border-radius: 15px;
    display: block;
}

.uploading-container .loading-components{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

}

.uploading-container .loading-components .loader{
    border: 5px solid rgba(150,150,150,1);
    border-top: 5px solid #2e86de;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: speeeeeeeeeeeen 2s ease-in-out infinite;
}

@keyframes speeeeeeeeeeeen{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.uploading-container .loading-components p{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}