.login-page-wrapper{
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 40% 60%;
    min-height: 500px;
}

/*** LOGIN EXTRAS ***/
.login-page-wrapper .login-extras{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: #f1f2f6;
}

.login-extras h1, .login-extras p{
    margin: 0;
    padding: 0;
}


/*** LOGIN BODY ***/
.login-page-wrapper .login-body{
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.login-body .login-box{
    background-color: #636e72;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: #f1f2f6;
}

.login-box .form-container form{
    padding-bottom: 1rem;
}

.form-container .input-fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.login-box .alt-container{
    display: flex;
    justify-content: center;;
}

.image-container.profile{
    justify-content: center;
    display: none;
}

.image-container.profile.active{
    display: flex;
}

.image-container.profile img{
    border-radius: 50%;
    aspect-ratio: 1;
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin: 0 auto;
}

.profile-picture-button{
    margin: 1rem 0;
}

@media screen and (max-width: 700px) {
    .login-page-wrapper{
        padding: 1rem 1rem;
        display: grid;
        grid-template-columns: 100%;
        min-height: 500px;
    }
}