.text-post-container{
    min-height: 100px;
    width: 80%;
    background-color: #364b64;
    border-radius: 15px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    margin-bottom: 1rem;
}

.text-post-container .author-container{
    height: 55px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.text-post-container .author-container img{
    aspect-ratio: 1;
    object-fit: cover;
    height: 100%;
    border-radius: 100px;
    margin-right: 0.75rem;
}

.text-post-container .author-container .details{
    display: flex;
    flex-direction: column;
}

.text-post-container .author-container .details h2, .text-post-container .author-container .details p{
    margin: 0;
    padding: 0;
}

.text-post-container .text-body{
    font-size: 20px;
}

.text-post-container .post-interactions-container{
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.text-post-container .post-interactions-container svg{
    margin-right: 0.5rem;
    height: 100%;
    width: 25px;
}

.text-post-container .post-interactions-container svg path{
    height: 100%;
}

.text-post-container .post-interactions-container .like-count-text{
    font-size: 18px;
    font-weight: 700;
}

.text-post-container .post-image-container{
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.text-post-container .post-image-container img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
